.profile-background-color {
  background-color: #685afc;
  height: 100%;
  padding: 20px;
}
a {
  text-decoration: none;
  margin: 0;
}
#container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alignement vertical au centre */
  justify-content: center; /* Alignement horizontal au centre */
  position: relative;
}
#back {
  display: flex;
}
.sample-image {
  max-width: 100%; /* Ajuster la largeur pour s'adapter à la disposition */
  height: auto; /* Hauteur ajustée proportionnellement */
  margin-bottom: 10px;
}
.sample-image-mobile {
  max-width: 100%; /* Ajuster la largeur pour s'adapter à la disposition */
  height: auto; /* Hauteur ajustée proportionnellement */
  margin-bottom: 10px;
  max-height: none; /* Réinitialisation de la hauteur maximale */
}
.hover-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.game-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3e69;
  opacity: 0.8;
  color: black;
  font-size: 24px;
  border-radius: 5px;
  transform: scale(0);
}
.hover-container:hover {
  filter: grayscale(30%);
}
.hover-container:hover .game-name {
  transform: scale(1);
}

/* .footer {
  display: flex;
  height: 350px;
  background-color: #d5d5d5;
  width: 100%;
  position: absolute;
  bottom: 0;
} */
hr {
  color : black;
  font-size: 10px;
}