{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<p class="text-center">L'utilisateur du site consent au stockage de son adresse mail ainsi que de son pseudo dans la base de données du site. Ces informations ne seront <b>jamais</b> vendues à un tiers. Le site n'utilise pas de cookies. Le site utilisant une messagerie, l'éditeur du site se dédouane de toute responsabilité vis à vis du contenu des messages que les utilisateurs s'envoient.</p>

<p class="text-center">Joystick Allies est un site à destination de tous. De ce fait, aucune menace, aucune discrimination quelle qu'elle soit ne sera tolérée. Les images de profil ne doivent pas contenir de contenu choquant (gore, pornographique etc.). Les pseudos des utilisateurs doivent également se plier à ces règles. Ainsi, l'éditeur se réserve le droit de supprimer tout compte transgressant ces règles.</p>

<p class="text-center">L'éditeur du site se réserve le droit de modifiers les CGU du site, auquel cas les utilisateurs seront prévenus par courriel.</p>

<p class="text-center">Pour toutes questions, veuillez contacter l'éditeur du site.</p>

<p class="text-center">CGU mise à jour le 28/09/2023</p>

{% endblock %}