{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<ul>
<li>Editeur du site : Gabriel Okba</li>
<li>Contact : gokba27@gmail.com</li>
<li>Identité visuelle : Nikita Castelain</li>
<li>Contact : castelain.nikita@gmail.com</li>
<li>Illustration : Natacha Castelain</li>
<li>Contact : castelain.natacha@orange.fr</li>
<li>Protection des données personnelles : <a href="{{path('cgu')}}">CGU</a></li>
<li>Cookies : Aucun cookies n'est utilisé sur ce site</li>
<li>Mentions relatives à la proprété intellectuelle : Les images des jeux appartiennent à leur éditeur respectif</li>
<li>Mise à jour des mention légales le 28/09/2023</li>
</ul>
{% endblock %}
