{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-6 text-center">

<h1 class="text-center">{{message.title}}</h1>
<p class="text-center">De {{message.sender.pseudo }}</p>
<p class="text-center">{{message.message}}</p>
<p class="text-center">Le {{message.createdAt|date("d/m/Y")}}</p>

<a href="{{}}" class="btn btn-outline-success"></a>

</div>

{% endblock %}